torch
# ==========================================
# 🚀 FRAMEWORK WEB Y SERVIDOR
# ==========================================
fastapi
uvicorn
pydantic
pydantic-settings

# ==========================================
# 🗄️ BASE DE DATOS Y ORM (METADATOS)
# ==========================================
SQLAlchemy

# ==========================================
# 🧠 INTELIGENCIA ARTIFICIAL Y LLMs
# ==========================================
google-genai

# ==========================================
# 🔍 BASE DE DATOS VECTORIAL Y EMBEDDINGS
# ==========================================
qdrant-client
fastembed

# ==========================================
# 📄 PROCESAMIENTO DE DOCUMENTOS (PDF Y OCR)
# ==========================================
pymupdf
paddleocr
paddlepaddle
pillow
sentence-transformers

# ==========================================
# 🛠️ UTILIDADES DEL SISTEMA
# ==========================================
python-dotenv
platformdirs
matplotlib